.systemOutputDescription {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 130%;
}

.systemOutputDescription1 {
    font-size: 150%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table {
    visibility: hidden;
}

.tableContent {
    font-size: 120%;
}

@media (max-width: 800px) {
    .tableContent {
        font-size: 100%;
    }
    .systemOutputDescription {
        font-size: 100%;
    }
    .systemOutputDescription1 {
        font-size: 120%;
    }
}