.head {
    font-size: 150%;
}

.primeNumbersTable {
    padding-top: 2%;
    font-family: "Montserrat", sans-serif;
    margin: 4% auto 10% auto;
    text-align: center;
    font-size: 150%;
    background-color: rgba(184, 187, 177, 0.979);
    width: 50%;
    box-shadow: 2px 4px 11px 9px #ccc;
    border-radius: 10px;
}