.truthtable{
    width: 800px;
    height: 195px;
    background-color: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    
    
    
}







table,tr,th{
    box-sizing: border-box;
    border:1px solid black;
    width:800px;
    height:35px;
}



    


    
    
    
    


